@import url("//hello.myfonts.net/count/34c70e");
@font-face {font-family: 'Gibson-SemiboldIt';
						src: url('webfonts/34C70E_2_0.eot');
						src: url('webfonts/34C70E_2_0.eot?#iefix') format('embedded-opentype'),
						url('webfonts/34C70E_2_0.woff2') format('woff2'),
						url('webfonts/34C70E_2_0.woff') format('woff'),
						url('webfonts/34C70E_2_0.ttf') format('truetype');}
@font-face {font-family: 'Gibson-Regular';src: url('webfonts/34C70E_4_0.eot');src: url('webfonts/34C70E_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/34C70E_4_0.woff2') format('woff2'),url('webfonts/34C70E_4_0.woff') format('woff'),url('webfonts/34C70E_4_0.ttf') format('truetype');}
@font-face {font-family: 'Gibson-SemiBold';src: url('webfonts/34C70E_5_0.eot');src: url('webfonts/34C70E_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/34C70E_5_0.woff2') format('woff2'),url('webfonts/34C70E_5_0.woff') format('woff'),url('webfonts/34C70E_5_0.ttf') format('truetype');}  
@font-face {font-family: 'Gibson-Italic';src: url('webfonts/34C70E_6_0.eot');src: url('webfonts/34C70E_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/34C70E_6_0.woff2') format('woff2'),url('webfonts/34C70E_6_0.woff') format('woff'),url('webfonts/34C70E_6_0.ttf') format('truetype');}
