	.footer {
		position: relative;
		height: 700px;
		margin-top: 4rem;
	}
	.footer-content {
		background: white;
		position: relative;
		z-index: 88;
		padding: 2rem 2rem 2rem 0;
		@media screen and (max-width: 480px) {
			padding: 0;
		}
	}
	.footer-image {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
	.footer__logo {
		position: absolute;
		top: -25px;
		right: 38px;
	}
	.footer__title {
		margin-top: 0;
		margin-bottom: 1rem;
		position: relative;
		display: inline-block;
	}
	.footer__email .email-link {
		font-family: "Gibson-Regular", sans-serif;
		font-size: 1.1rem;
		margin: 0;
		color: #8D8D8D;
		background: none;
		border: none;
		cursor: pointer;
	}
	.footer__links {
		margin: 1rem 0 0 0;
		list-style: none;
		padding: 0;
	}
	.footer__links li {
		font-family: "Gibson-Semibold", sans-serif;
		text-transform: uppercase;
		line-height: 2.4rem;
		@include breakpoint(medium) {
				line-height: 3rem;
				font-size: 1.5rem;
		}
		a { 
			color: var(--text-color);
			@include breakpoint(medium) {
					display: block;
			}
			&:hover {
				color: var(--brand-primary);
			}
		}
	}
