.inquiry__form {
  label { display: block; }
}
.modal-florish {
   width: 50%;
   height: 100%;
   top: 0;
   left: 0;
   border-radius: 3px;
   margin: 0px auto;
   position: absolute;
   background-color: var(--brand-primary);
   left: 50%;
   @include breakpoint(medium) {
   		display: none;
   }
}
.modal-florish.dark {
   width: 50%;
   height: 100%;
   top: 0;
   left: 0;
   border-radius: 3px;
   margin: 0px auto;
   position: absolute;
   background-color: #222;
   @include breakpoint(medium) {
   		display: none;
   }
}
.submit {
   background-color: var(--text-color);
   color: white;
}