.Gibson-BoldItalic { 
	font-family: Gibson-BoldItalic;
	font-weight: normal;
	font-style: normal;
}
.Gibson-Bold { 
	font-family: Gibson-Bold;
	font-weight: normal;
	font-style: normal;
}
.Gibson-Regular { 
	font-family: Gibson-Regular;
	font-weight: normal;
	font-style: normal;
}
.Gibson-Italic { 
	font-family: Gibson-Italic;
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Gibson-Semibold", sans-serif;
	font-weight: normal;
	font-style: normal;
}

strong, b {
	font-weight: 700;
}
a {
	text-decoration: none;
	transition: all ease .3s;
	color: var(--brand-primary);
	transition: ease .3s color;
	&:hover {
		color: var(--brand-primary-hover);
	}
}
.big-title {
	@include font-size(5, 5);
	@include breakpoint(medium) {
		@include font-size(3.5, 3.5);
	}
}

.eyebrow {
	color: var(--brand-primary);
	font-family: "Gibson-Semibold";
	text-transform: uppercase;
	font-size: .9rem;
	letter-spacing: .08rem;
	&.eyebrow-dark {
		color: var(--brand-gray);
	}
}

